---

---

<div class="banner_box">
    <div class="banner_caption">
        <h1>Karrierestart Pakker til studerende</h1>
        <p>
            Start din karriere med vores gratis start pakke. Find din vej til fremtiden - vi hjælper undervejs.
        </p>
        <a href="#">Start Her</a>
    </div>
</div>

<style>
    .banner_box {
        width: 90%;
        margin-left: 10%;
        margin-top: 85px;
        background-image: url("img/banner3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .banner_caption {
        width: 40%;
        background-color: #0a79ae;
        padding: 50px;
        color: white;
        margin-left: 100px;
    }
    p {
        margin-top: 50px;
        font-size: 18px;
    }
    a {
        display: inline-block;
        margin-top: 50px;
        border: 3px solid #054674;
        background-color: #054674;
        border-radius: 15px;
        padding: 25px 20px;
        color: white;
        font-size: 20px;
        font-family: "NexaBold", sans-serif;
        text-decoration: none;
        transition: all .5s;
    }
    a:hover {
        border: 3px solid white;
    }
    @media screen and (max-width:1200px) {
        h1 {
            font-size: 20px;
        }
    }
</style>