---

---
<div class="footer_box">
    <div class="footer">
        <div class="footer_left">
            <p>
                <i class="fa-solid fa-globe"></i><a href="https://www.ca.dk/"> https://www.ca.dk</a>
            </p>
            <p>
                <i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/caakasse"> Facebook</a>
            </p>
            <p>
                <i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/company/caakasse"> LinkedIn</a>
            </p>
        </div>
        <div class="footer_right">
            <p>
                Telefon hverdage 8.30-15.00
            </p>
            <p>
                <i class="fa-solid fa-phone"></i> +45 33 14 90 45
            </p>
            <p>
                <i class="fa-solid fa-house"></i> Smakkedalen 2<br>
                <i class="fa-solid fa-hashtag"></i> 2820 Gentofte, Danmark
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i> ca@ca.dk
            </p>
        </div>
    </div>
</div>

<style>
    .footer_box {
        background-color: #0a79ae;
    }
    .footer {
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        width: 80%;
        margin: 30px auto;
        margin-bottom: 0;
        padding: 30px;
    }
    p {
        font-size: 24px;
        margin-bottom: 30px;
    }
    a {
        color: white;
        text-decoration: none;
    }
</style>