---

---

<div class="navmenu_box">
    <div class="logo">
        <img src="img/CA_logo.svg" alt="logo">
    </div>
    <div class="navmenu">
        <ul>
            <li><a href="#" onclick="scrollToAnchor('#about');">Om Pakker</a></li>
            <li><a href="#" onclick="scrollToAnchor('#apply');">Tag en pakke</a></li>
            <li><a href="https://www.ca.dk/formularer/indmeldelse-ca/">Bliv medlem</a></li>
        </ul>
    </div>
    <div class="mitca_box">
        <ul>
            <li class="mitca"><a href="#"><i class="fa-regular fa-user"></i> Mit CA</a></li>
        </ul>
    </div>
</div>

<style>
    .navmenu_box {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        font-size: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #e6e6de;
        z-index: 1;
    }
    .logo img {
        width: 60%;
    }
    .navmenu {
        text-align: right;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    a {
        text-decoration: none;
        color: #4a4a4a;
        padding: 15px 40px;
    }
    .mitca_box {
        background-color: #084b7c;
    }
    .mitca a {
        background-color: #084b7c;
        color: white;
    }
</style>

<script is:inline>
    function scrollToAnchor(element) {
        event.preventDefault();
        document.querySelector(element).scrollIntoView({behavior: "smooth"});
    }
</script>