---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Beskrivelse af CA pakker her" />
		<meta name="keywords" content="akasse,CA,dagpenge,arbejde,karriere,job" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/ed11d827ab.js" crossorigin="anonymous"></script>
		<title>{title}</title>
		<meta name="robots" content="noindex" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face { font-family: NexaLight; src: url('../fonts/NexaLight/Nexa Light.otf'); }
	@font-face { font-family: NexaBold; src: url('../fonts/nexa-bold-free-font/Nexa Bold.woff'); }
	* {
		padding: 0;
		margin: 0;
	}
	html {
		font-family: "NexaLight", sans-serif;
		letter-spacing: 2px;
		color: #4a4a4a;
	}
	body {
		background-color: #e6e6de;
	}
	h1 {
		font-size: 32px;
		font-family: "NexaBold", sans-serif;
	}
</style>
